// out: null

@import (reference)	"source/include/variables.less";
@import (reference)	"source/include/mixins.less";

.no-svg
{
    .box .text .media.image .house              { .mixin-image-house-png; }
    .box .text .media.image .man                { .mixin-image-man-png; }
    .box .text .media.image .lamp               { .mixin-image-lamp-png; }
    .box .text .media.image .trash              { .mixin-image-trash-png; }
    .box .text .media.image .tree               { .mixin-image-tree-png; }
    .box .features .feature .icon.new           { .mixin-icon-big-new-product-png }
    .box .features .feature .icon.brand         { .mixin-icon-big-brand-png; }
    .box .features .feature .icon.action        { .mixin-icon-big-action-png; }
    .box .features .feature .icon.best-price    { .mixin-icon-big-best-price-png; }
    .box .features .feature .icon.delivery      { .mixin-icon-big-delivery-png; }
    .box .features .feature .icon.payment       { .mixin-icon-big-payment-png; }
    .box .features .feature .icon.bonus         { .mixin-icon-big-bonus-png; }
    .box .features .feature .icon.order         { .mixin-icon-big-order-png; }
    .box .features .feature .icon.callback      { .mixin-icon-big-callback-png; }
}

.box
{
    h3
    {
        padding-left: 0px;
        margin: 0px auto 0px auto;
        width: 550px;
        text-align: center;
        font-weight: normal;
        font-size: @fontSizeH3;
        line-height: @lineHeightH3;
    }
	.text
	{
		margin: 0px 0px 0px 0px;
		padding: 14px 24px 18px 24px;
        color: @colorLightBlack;
        font-size: @fontSizeBasketTotal;
		line-height: @lineHeightH2;
		background-color: @colorLightGrey;
        .media.image
        {
            position: relative;
            margin: 0px 0px 12px 0px;
            height: 348px;
            .ground, .man, .house, .lamp, .trash, .tree
            {
                position: absolute;
            }
            .man, .house
            {
                background-image: url(@imageCompanyAbout);
                background-repeat: no-repeat;
            }
            .ground
            {
                left: 0px;
                right: 0px;
                bottom: 0px;
                width: auto;
                height: 9px;
                background-color: @colorGround;
                z-index: 1;
            }
            .man
            {
                bottom: 9px;
                left: 50%; /* 57px */
                margin-left: -401px;
                width: 100px;
                height: 90px;
                background-image: none;
                z-index: 2;
                .hand
                {
                    -moz-animation-delay: 5s;
                    -moz-animation-duration: 5s;
                    -moz-animation-iteration-count: infinite;
                    -moz-animation-timing-function: ease;
                    -moz-animation-name: to-wave-hand;
                    -moz-transform-origin: 80px 30px;

                    -webkit-animation-delay: 5s;
                    -webkit-animation-duration: 5s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-timing-function: ease;
                    -webkit-animation-name: to-wave-hand;
                    -webkit-transform-origin: 80px 30px;

                    animation-delay: 5s;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease;
                    animation-name: to-wave-hand;
                    transform-origin: 80px 30px;
                }
                .eyes
                {
                    fill: @colorBrownEyes;

                    -moz-animation-delay: 1s;
                    -moz-animation-duration: 2s;
                    -moz-animation-iteration-count: infinite;
                    -moz-animation-name: close-eyes;

                    -webkit-animation-delay: 1s;
                    -webkit-animation-duration: 2s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-name: close-eyes;

                    animation-delay: 1s;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-name: close-eyes;
                }
                .text
                {
                    .mixin-box-shadow;
                    position: absolute;
                    top: -154px;
                    left: -55px;
                    margin: 0px;
                    padding: 16px 15px 0px 15px;
                    width: 198px;
                    height: 106px;
                    background-color: @colorWhite;
                    
                    -moz-transform: scale(1);
                    -moz-transform-origin: 105px 150px;
                    -moz-animation-delay: 0s;
                    -moz-animation-duration: 8s;
                    -moz-animation-iteration-count: 1;
                    -moz-animation-name: show-baloon;
                    
                    -webkit-transform: scale(1);
                    -webkit-transform-origin: 105px 150px;
                    -webkit-animation-delay: 0s;
                    -webkit-animation-duration: 8s;
                    -webkit-animation-iteration-count: 1;
                    -webkit-animation-name: show-baloon;
                    
                    transform: scale(1);
                    transform-origin: 105px 150px;
                    animation-delay: 0s;
                    animation-duration: 8s;
                    animation-iteration-count: 1;
                    animation-name: show-baloon;
                }
                .text:after
                {
                    content: " ";
                    display: block;
                    position: absolute;
                    bottom: -31px;
                    left: 57px;
                    width: 48px;
                    height: 31px;
                    background-image: url(@imageCompanyAbout);
                    background-repeat: no-repeat;
                    background-position: 0px -93px;
                }
            }
            .house
            {
                .mixin-image-house-svg;
                bottom: 8px;
                left: 50%; /* 312px */
                margin-left: -184px;
                width: 369px;
                height: 339px;
                z-index: 3;
                .counter, .counter-bg, .counter-roller, .text
                {
                    position: absolute;
                    z-index: 1;
                }
                .counter
                {
                    left: 126px;
                    top: 180px;
                    padding: 6px 0px 0px 4px;
                    width: 117px;
                    height: 21px;
                    color: @colorWhite;
                    font-size: @fontSizeIconArrow;
                    font-weight: bold;
                    line-height: @lineHeightDefault;
                    text-align: left;
                    letter-spacing: 9.5px;
                }
                .counter:after
                {
                    content: " ";
                    display: block;
                    position: absolute;
                    left: 1px;
                    top: 50%;
                    right: 1px;
                    margin-top: -1px;
                    width: auto;
                    height: 1px;
                    font-size: 0px;
                    line-height: 0px;
                    background-color: @colorLighterGrey;
                    overflow: hidden;
                }
                .counter-bg
                {
                    left: 118px;
                    top: 176px;
                    width: 138px;
                    height: 36px;
                    background-image: url(@imageCompanyAbout);
                    background-repeat: no-repeat;
                    background-position: -220px -176px;
                }
                .counter:after { display: none; }
                .counter-roller
                {
                    left: 229px;
                    top: 180px;
                    width: 19px;
                    height: 27px;
                    color: @colorWhite;
                    font-size: @fontSizeIconArrow;
                    font-weight: bold;
                    line-height: 26px;
                    text-align: center;
                    overflow: hidden;
                    span
                    {
                        display: block;
                        position: absolute;
                        left: 0px;
                        top: auto;
                        right: 0px;
                        bottom: 0px;
                        width: auto;
                        height: auto;
                    }
                }
                .text
                {
                    margin: 0px;
                    padding: 0px;
                    z-index: 2;
                    .description
                    {
                        margin: 0px;
                        padding: 9px 12px 12px 12px;
                        background-color: @colorWhite;
                        border: 2px solid @colorRed;
                    }
                    .line
                    {
                        position: absolute;
                        span
                        {
                            display: block;
                            position: absolute;
                            background-color: @colorRed;
                        }
                    }
                }
                .text.age
                {
                    left: -272px;
                    top: 0px;
                    width: 228px;
                    .description
                    {
                        -moz-transform-origin: 228px 40px;
                        -moz-animation-delay: 0s;
                        -moz-animation-duration: 4s;
                        -moz-animation-iteration-count: 1;
                        -moz-animation-name: show-baloon;
                        
                        -webkit-transform-origin: 228px 40px;
                        -webkit-animation-delay: 0s;
                        -webkit-animation-duration: 4s;
                        -webkit-animation-iteration-count: 1;
                        -webkit-animation-name: show-baloon;
                        
                        transform-origin: 228px 40px;
                        animation-delay: 0s;
                        animation-duration: 4s;
                        animation-iteration-count: 1;
                        animation-name: show-baloon;
                    }
                    .line
                    {
                        right: -110px;
                        top: 37px;
                        width: 110px;
                        height: 215px;
                        span.first
                        {
                            left: 25px;
                            right: 0px;
                            bottom: 0px;
                            width: 85px;
                            height: 2px;
                            
                            -moz-transform: scale(1);
                            -moz-transform-origin: 106px 0px;
                            -moz-animation-delay: 0s;
                            -moz-animation-duration: 1s;
                            -moz-animation-iteration-count: 1;
                            -moz-animation-name: show-baloon;

                            -webkit-transform: scale(1);
                            -webkit-transform-origin: 106px 0px;
                            -webkit-animation-delay: 0s;
                            -webkit-animation-duration: 1s;
                            -webkit-animation-iteration-count: 1;
                            -webkit-animation-name: show-baloon;

                            transform: scale(1);
                            transform-origin: 106px 0px;
                            animation-delay: 0s;
                            animation-duration: 1s;
                            animation-iteration-count: 1;
                            animation-name: show-baloon;
                        }
                        span.second
                        {
                            left: 25px;
                            top: 0px;
                            bottom: 0px;
                            width: 2px;
                            height: 215px;
                            
                            -moz-transform: scale(1);
                            -moz-transform-origin: 0px 215px;
                            -moz-animation-delay: 0s;
                            -moz-animation-duration: 2s;
                            -moz-animation-iteration-count: 1;
                            -moz-animation-name: show-baloon;

                            -webkit-transform: scale(1);
                            -webkit-transform-origin: 0px 215px;
                            -webkit-animation-delay: 0s;
                            -webkit-animation-duration: 2s;
                            -webkit-animation-iteration-count: 1;
                            -webkit-animation-name: show-baloon;

                            transform: scale(1);
                            transform-origin: 0px 215px;
                            animation-delay: 0s;
                            animation-duration: 2s;
                            animation-iteration-count: 1;
                            animation-name: show-baloon;
                        }
                        span.third
                        {
                            left: 0px;
                            top: 0px;
                            width: 25px;
                            height: 2px;
                            
                            -moz-transform: scale(1);
                            -moz-transform-origin: 25px 0px;
                            -moz-animation-delay: 0s;
                            -moz-animation-duration: 3s;
                            -moz-animation-iteration-count: 1;
                            -moz-animation-name: show-baloon;

                            -webkit-transform: scale(1);
                            -webkit-transform-origin: 25px 0px;
                            -webkit-animation-delay: 0s;
                            -webkit-animation-duration: 3s;
                            -webkit-animation-iteration-count: 1;
                            -webkit-animation-name: show-baloon;

                            transform: scale(1);
                            transform-origin: 25px 0px;
                            animation-delay: 0s;
                            animation-duration: 3s;
                            animation-iteration-count: 1;
                            animation-name: show-baloon;
                        }
                    }
                }
                .text.clients
                {
                    right: -231px;
                    top: 87px;
                    width: 208px;
                    .description
                    {
                        -moz-transform-origin: 105px 78px;
                        -moz-animation-delay: 0s;
                        -moz-animation-duration: 7s;
                        -moz-animation-iteration-count: 1;
                        -moz-animation-name: show-baloon;
                        
                        -webkit-transform-origin: 105px 78px;
                        -webkit-animation-delay: 0s;
                        -webkit-animation-duration: 7s;
                        -webkit-animation-iteration-count: 1;
                        -webkit-animation-name: show-baloon;
                        
                        transform-origin: 105px 78px;
                        animation-delay: 0s;
                        animation-duration: 7s;
                        animation-iteration-count: 1;
                        animation-name: show-baloon;
                    }
                    .line
                    {
                        left: -140px;
                        bottom: -29px;
                        width: 244px;
                        height: 29px;
                        span.first
                        {
                            left: 0px;
                            right: 0px;
                            bottom: 0px;
                            width: auto;
                            height: 2px;
                            
                            -moz-transform-origin: 0px 0px;
                            -moz-animation-delay: 0s;
                            -moz-animation-duration: 5s;
                            -moz-animation-iteration-count: 1;
                            -moz-animation-name: show-baloon;

                            -webkit-transform-origin: 0px 0px;
                            -webkit-animation-delay: 0s;
                            -webkit-animation-duration: 5s;
                            -webkit-animation-iteration-count: 1;
                            -webkit-animation-name: show-baloon;

                            transform-origin: 0px 0px;
                            animation-delay: 0s;
                            animation-duration: 5s;
                            animation-iteration-count: 1;
                            animation-name: show-baloon;
                        }
                        span.second
                        {
                            right: 0px;
                            top: 0px;
                            bottom: 0px;
                            width: 2px;
                            height: auto;
                            
                            -moz-transform-origin: 0px 29px;
                            -moz-animation-delay: 0s;
                            -moz-animation-duration: 6s;
                            -moz-animation-iteration-count: 1;
                            -moz-animation-name: show-baloon;

                            -webkit-transform-origin: 0px 29px;
                            -webkit-animation-delay: 0s;
                            -webkit-animation-duration: 6s;
                            -webkit-animation-iteration-count: 1;
                            -webkit-animation-name: show-baloon;

                            transform-origin: 0px 29px;
                            animation-delay: 0s;
                            animation-duration: 6s;
                            animation-iteration-count: 1;
                            animation-name: show-baloon;
                        }
                        span.third
                        {
                            display: none;
                            -moz-transform: scale(1);
                            -moz-transform-origin: 25px 0px;
                            -moz-animation-delay: 0s;
                            -moz-animation-duration: 7s;
                            -moz-animation-iteration-count: 1;
                            -moz-animation-name: show-baloon;

                            -webkit-transform: scale(1);
                            -webkit-transform-origin: 25px 0px;
                            -webkit-animation-delay: 0s;
                            -webkit-animation-duration: 7s;
                            -webkit-animation-iteration-count: 1;
                            -webkit-animation-name: show-baloon;

                            transform: scale(1);
                            transform-origin: 25px 0px;
                            animation-delay: 0s;
                            animation-duration: 7s;
                            animation-iteration-count: 1;
                            animation-name: show-baloon;
                        }
                    }
                }
            }
            .lamp
            {
                .mixin-image-lamp-svg;
                left: 50%;
                bottom: 9px;
                margin: 0px 0px 0px 200px;
                width: 49px;
                height: 172px;
                z-index: 2;
            }
            .trash
            {
                .mixin-image-trash-svg;
                left: 50%;
                bottom: 9px;
                margin: 0px 0px 0px 236px;
                width: 29px;
                height: 32px;
                z-index: 2;
            }
            .tree
            {
                .mixin-image-tree-svg;
                left: 50%;
                bottom: 9px;
                width: 57px;
                height: 150px;
                z-index: 1;
            }
            .tree.one
            {
                margin: 0px 0px 0px -250px;   
            }
            .tree.two
            {
                margin: 0px 0px 0px -290px;
            }
            .tree.three
            {
                margin: 0px 0px 0px 350px;
            }
        }
	}
	.features
	{
		position: relative;
		margin: 59px 0px 24px 0px;
        h2
        {
            margin: 0px 0px 24px 0px;
        }
        .feature
        {
            position: relative;
            float: left;
            margin: 0px 0px 12px 0px;
            width: 33.3%;
            height: 310px;
            .bg
            {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                padding: 12px 24px 12px 24px;
                width: auto;
                height: auto;
                background-color: @colorLightGrey;
                .title
                {
                    position: relative;
                    white-space: nowrap;
                    margin: 0px 0px 12px 0px;
                    padding: 0px 0px 0px 80px;
                    height: 73px;
                    h2, .helper
                    {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0px;
                    }
                    .helper
                    {
                        width: 0px;
                        height: 100%;
                        font-size: 0px;
                        line-height: 0px;
                    }
                    h2
                    {
                        margin: 0px;
                        font-size: @fontSizeDiscounts;
                        line-height: @lineHeightH3;
                        white-space: normal;
                    }
                }
            }
            span
            {
                display: block;
            }
            ul
            {
                list-style-type: disc;
                list-style-position: inside;
                color: @colorRed;
                li
                {
                    span
                    {
                        display: inline;
                        color: @colorLighterBlack;
                    }
                }
            }
            .icon
            {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 65px;
                height: 73px;
            }
            .icon.new
            {
                .mixin-icon-big-new-product-svg;
            }
            .icon.brand
            {
                .mixin-icon-big-brand-svg;
            }
            .icon.action
            {
                .mixin-icon-big-action-svg;
            }
            .icon.best-price
            {
                .mixin-icon-big-best-price-svg;
            }
            .icon.delivery
            {
                .mixin-icon-big-delivery-svg;
            }
            .icon.payment
            {
                .mixin-icon-big-payment-svg;
            }
            .icon.bonus
            {
                .mixin-icon-big-bonus-svg;
            }
            .icon.order
            {
                .mixin-icon-big-order-svg;
            }
            .icon.callback
            {
                .mixin-icon-big-callback-svg;
            }
            .text
            {
                padding: 0px;
                color: @colorLighterBlack;
                font-size: @fontSizeOrder;
                line-height: @lineHeightPrice;
                background-color: transparent;
            }
        }
        .feature.one, .feature.four, .feature.seven
        {
            .bg
            {
                right: 6px;
            }
        }
        .feature.two, .feature.five, .feature.eight
        {
            .bg
            {
                left: 6px;
                right: 6px;
            }
        }
        .feature.three, .feature.six, .feature.nine
        {
            .bg
            {
                left: 6px;
            }
        }
	}
    .feedback
    {
        margin: 0px auto 0px auto;
        width: 505px;
        .title
        {
            text-align: center;
            font-weight: bold;
            font-size: @fontSizeBig;
            line-height: @lineHeightBig;
            color: @colorLightBlack;
        }
        .arrows
        {
            .mixin-image-three-arrow-png;
            position: relative;
            height: 160px;
            background-position: center center;
        }
        .contacts
        {
            padding: 24px;
            border: 1px solid @colorRed;
            h2
            {
                margin: 0px 0px 6px 0px;
                padding: 0px;
            }
            .button
            {
                height: 41px;
                width: 250px;
                font-size: @fontSizeBasketTotal;
                line-height: @lineHeightCalendarTitle !important;
            }
        }
    }
}