// out: null

@import (reference)	"source/include/variables.less";
@import (reference)	"source/include/mixins.less";

/* Стили для адаптивного дизайна */

@media screen and (max-width: 1360px)
{
    .header
    {
        .column.right
        {
            .menu
            {
                .item.new.info
                {
                    .phone
                    {
                        div.icon
                        {
                            .message
                            {
                                left: auto;
                                right: 0px;
                                margin-left: 0px;
                                span.arrow
                                {
                                    left: auto;
                                    right: 3px;
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1194px)
{
	body
	{
		min-width: 0px !important;
		#main_wrapper
		{
			width: 100%;
			min-width: 100%;
		}
	}
    
	/*------------------------------------*/
	/* # Фиксированная шапка */
	/*------------------------------------*/
	.header.fixed
	{
		width: 100%;
		.wrap
		{
			width: auto;
        }
    }
    
	/*------------------------------------*/
	/* # Фиксированный футер */
	/*------------------------------------*/
	.footer.fixed
	{
		width: 100%;
		.wrap
		{
			width: auto;
        }
    }
    
	/*------------------------------------*/
	/* # Шапка сайта */
	/*------------------------------------*/
	.header
    {
        form.search
        {
            right: 0px;
        }
        .column.right
        {
            .button.feedback { display: none !important; }
            .menu
            {
                .item.new.info
                {
                    .feedback { display: inline-block; }
                }
            }
        }
    }
    
	/*------------------------------------*/
	/* # Футер */
	/*------------------------------------*/
	.footer
	{
        .wrap
        {
            width: auto;
            .block.social
            {
                .wrap
                {
                    padding-left: 0px;
                }
            }
        }
    }
    
    .box
    {
        .banner.index-page
        {
            display: none;
        }
    }
	/*------------------------------------*/
	/* # Главная страница */
	/*------------------------------------*/
    .slider
    {
        position: absolute;
        right: 0px;
        top: 0px;
        left: 0px;
        width: auto;
        overflow: hidden;
        .wrap
        {
            margin: 0px auto 0px auto;
            width: 741px;
            overflow: visible;
        }
        .wrap:before, .wrap:after
        {
            content: " ";
            display: block;
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 90px;
            opacity: 0.72;
            z-index: 2;
        }
        .wrap:before
        {
            left: -90px;
            background-color: @colorWhite;
        }
        .wrap:after
        {
            right: -90px;
            background-color: @colorWhite;
        }
    }
    .box
    {
        .content.index-page
        {
            .column.left
            {
            }
            .column.right
            {
            }
        }
    }
}

@media screen and (max-width: 1140px)
{
    .header
    {
        .column.right
        {
            .menu
            {
                .item.wholesale { display: none; }
            }
        }
    }
	/*------------------------------------*/
	/* # Главная страница */
	/*------------------------------------*/
    .box
    {
        .content.index-page
        {
            .column.left
            {
                width: 43%;
            }
            .column.right
            {
                width: 57%;
            }
        }
    }
}

@media screen and (max-width: 1100px)
{
	/*------------------------------------*/
	/* # Главная страница */
	/*------------------------------------*/
    .box
    {
        .content.index-page
        {
            .column.left
            {
                width: 46%;
            }
            .column.right
            {
                width: 54%;
            }
        }
    }
}

@media screen and (max-width: 1045px)
{
	/*------------------------------------*/
	/* # Главная страница */
	/*------------------------------------*/
    .box
    {
        .content.index-page
        {
            .column.left
            {
                width: 48%;
            }
            .column.right
            {
                width: 52%;
            }
        }
    }
}

@media screen and (max-width: 1030px)
{
}

@media screen and (max-width: 990px)
{
    .header
    {
        form.authorization
        {
            input
            {
                width: 189px;
            }
        }
    }
    .header.fixed
    {
        .wrap
        {
            .user
            {
                width: 240px;                
            }
            .user.authorized
            {
                a.title
                {
                    width: 191px;
                }
            }
        }
    }
	/*------------------------------------*/
	/* # Главная страница */
	/*------------------------------------*/
    .box
    {
        .content.index-page
        {
            .column.left
            {
                width: 50%;
            }
            .column.right
            {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 960px)
{
	/*------------------------------------*/
	/* # Шапка сайта */
	/*------------------------------------*/
	.header
    {
        .column.left
        {
            width: 205px;
        }
        .column.right
        {
            width: 755px;
        }
    }
	.box
    {
        .column.left
        {
            width: 205px;
        }
    }
	/*------------------------------------*/
	/* # Главная страница */
	/*------------------------------------*/
    .slider
    {
        position: relative;
        right: auto;
        top: auto;
        left: auto;
        width: auto;
    }
}